.App {
  text-align: center;
  background-color: rgb(243, 7, 243);
  flex-direction: column;
}

.header {
  background-color: purple;
  flex-direction: row;
  text-align: end;
}

.footer {
  background-color: purple;
  flex-direction: row;
  text-align: end;
}

.body {
  background-color: purple;
  flex-direction: row;
  text-align: end;
}